* {
	padding: 0;
	margin: 0;

}

body {
	font-family: "Copperplate", "Courier New",  serif;

}

ul {
	text-decoration: none;
}
a {
	text-decoration: none;
	color: black;
}

.mainLogo {
	padding-top: 30px;
	height: 150px;
	width: 100%;
	margin-bottom: 5px;
	
	
}

.mainLogo h1 {
	letter-spacing: -2px;
	line-height: 150px;
	text-align: center;
	font-weight: lighter;
	font-size: 50pt;
	border-bottom: 2px solid #ccc;

}

.menuBar {
	width: 100%;
	height: 30px;
	position: fixed;
	background: white;
	border-bottom: 4px solid #ccc;
}

.menuBar > ul {
	float: left;
}

.menuBar li {
	font-size: 12pt;
	line-height: 30px;
	display: inline-block;
	text-align: center;
	

}
.menubar a {
	color: #AAA;
	display:block;
	width: 110px;
	height: 30px;

}
.categories {
	margin:0 20px;
	width: 110px;
}
.categories > li {
	
}

.categories li ul {
	display: none;
}

.categories li ul li {
	width: 110px;
	padding-left: 3px;
	font-size: 10pt;
	background: white;
	display: block;
	text-align: left;
}
.content {
	height: 2000px;
	
}
#selected {
	background-color: #F7F7F7;
}
